[[source]]
name = "pypi"
url = "-i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com"
verify_ssl = true

[dev-packages]
pytest="*"
notebook="==6.0.0"
jupyter="*"
mkdocs="*"
pytest-cov = "*"

[packages]
numpy="*"
torch="*"
torchvision="*"
pandas="*"
attrs="*"
ipykernel = "*"
apache-sedona="==1.1.0"
matplotlib = "*"

[requires]
python_version = "3.7"
